header {
    nav {
        width: 100%;
        background-color: $color-orange;
        padding: 1rem 0;
        .logo {
            width: 20rem;
        }
        .search-bar {
            background-color: $color-light;
            padding: $pd-2 $card-padding;
            width: 32vw;
            border-radius: $border-radius-2;
            display: flex;
            align-items: center;
            gap: 1rem;
            color: $color-gray-light;
            margin: 0 auto;
            input {
                color: $color-dark;
                background: transparent;
                width: 100%;
                &::placeholder {
                    color: $color-gray-dark;
                }
            }
        }
        .profile-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .theme-btn {
                display: flex;
                background-color: $color-light;
                width: 5rem;
                height: 2rem;
                border-radius: $border-radius-2;
                cursor: pointer;
                span {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }
                .active {
                    background-color: $color-dark;
                    border-radius: $border-radius-2;
                    color: $color-white;
                }
            }
            .profile {
                display: flex;
                gap: 1rem;
                align-items: center;
                .profile-photo {
                    display: block;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    overflow: hidden;
                }
                h4 {
                    margin: 0;
                    color: $color-white;
                }
            }
            button {
                text-align: center;
                background: transparent;
                width: 3rem;
                height: 3rem;
                color: $color-white;
                border-radius: $border-radius-2;
                transition: all .5s;
                span{
                    line-height: 3rem;
                }
                &:hover{
                    background-color: $color-white;
                    color: $color-orange;
                }
            }
            #menu-btn{
                display: none;
            }
        }
    }

    //RESPONSIVE
    // max-width 1200px
    @include responsive("extra-large"){
        nav{
            .search-bar{
                display: none;
            }
            .profile-area{
                #menu-btn{
                    display: inline;
                }
            }
        }
    }
    @include responsive("medium"){
        nav{
            .logo{
                width: 15rem;
                margin: auto 0;
            }
        }
    }
    @include responsive("small"){
        nav{
            .logo{
                width: 10rem;
                margin: auto 0;
            }
        }
    }
}
