.env

# dependencies
node_modules/
.pnp
.pnp.js

# production
build/

# misc
.DS_Store

npm-debug.log*
.vscode

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

yarn.lock

.vscode