// font size
$fs-0: 15px;
$fs-1: 14px;
$fs-2: 36px;
$fs-3: 24px;
$fs-4: 18px;
$fs-5: 20px;
// font weight
$fw-0: 300;
$fw-1: 400;
$fw-2:700;
// color
$color-0: #fff;
$color-1: #ccc;
$color-2: #999;
$color-3: #f2f3f4;
$color-4: #333;
$color-5: #fb5332;
$color-6: #4267b2;
$color-7: #3fa1fa;
$color-8: #505763;
$color-9: rgba(20, 23, 28, 0.05);
$color-10: #1a3652;