<!--CART -->
<section class="cart section">
    <div class="container">
        <div class="cart-top-wrap">
            <div class="cart-top">
                <div class="cart-top-cart cart-top-item">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="cart-top-adress cart-top-item">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="cart-top-payment cart-top-item">
                    <i class="fas fa-money-check-alt"></i>
                </div>
            </div>
        </div>
        <div class="cart__content row">
            <div class="cart__content-left">
                <table>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Xoá</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="/img/product2.jpg" alt="">
                        </td>
                        <td><p>Jishaku (US)</p></td>
                        <td><input type="number" value="1" min="1"></td>
                        <td><p>123456 <sup>đ</sup></p></td>
                        <td><span>x</span></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/img/product2.jpg" alt="">
                        </td>
                        <td><p>Jishaku (US)</p></td>
                        <td><input type="number" value="1" min="1"></td>
                        <td><p>123456 <sup>đ</sup></p></td>
                        <td><span>x</span></td>
                    </tr>
                </table>
            </div>
            <div class="cart__content-right">
                <table>
                    <tr>
                        <th colspan="2">TỔNG TIỀN GIỎ HÀNG</th>
                    </tr>
                    <tr>
                        <td>TỔNG SẢN PHẨM</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>TỔNG TIỀN HÀNG</td>
                        <td><p>123456 <sup>đ</sup></p></td>
                    </tr>
                </table>
                <div class="cart__content-right-button">
                    <button>TIẾP TỤC MUA SẮM</button>
                    <button>THANH TOÁN</button>
                </div>
            </div>
        </div>
    </div>
</section>