<!-- DELIVERY PAGE -->
<section class="deliveryPage section">
    <div class="container">
        <div class="cart-top-wrap">
            <div class="cart-top">
                <div class="cart-top-cart cart-top-item">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="cart-top-adress cart-top-item">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="cart-top-payment cart-top-item">
                    <i class="fas fa-money-check-alt"></i>
                </div>
            </div>
        </div>
        <div class="deliveryPage__content row">
            <div class="deliveryPage__left col-8">
                <h3 class="d-flex justify-content-center text-dark mb-4">Vui lòng chọn địa chỉ giao hàng</h3>
                <div class="deliveryPage__left-input-top row">
                    <div class="deliveryPage__left-input-top-item col-6">
                        <label for="">Họ tên <span style="color: red;">*</span></label>
                        <input name="name" type="text">
                    </div>
                    <div class="deliveryPage__left-input-top-item col-6">
                        <label for="">Điện thoại <span style="color: red;">*</span></label>
                        <input name="phone" type="text">
                    </div>
                </div>
                <div class="deliveryPage__left-input-buttom">
                    <label for="">Địa chỉ <span style="color: red;">*</span></label>
                    <input name="address" type="text">
                </div>
                <div class="deliveryPage__left-button">
                    <a href="/cart"><span>&#8810;</span>
                        <p>Quay lại giỏ hàng</p>
                    </a>
                    <button onclick="deliveryInfoSubmit();">
                        <p style="font-weight: bold;">THANH TOÁN VÀ GIAO HÀNG</p>
                    </button>
                </div>
            </div>
            <div class="deliveryPage__right col-4">
                <table>
                    <thead>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td style="font-weight: bold;" colspan="2">Tổng tiền hàng</td>
                            <td style="font-weight: bold;"><p id="sumOfPrice"></p></td>                          
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>

<script src="/js/customer/deliveryHandler.js"></script>