<!-- INFOR -->
<section class="infor section container">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-order-tab" data-toggle="pill" href="#v-pills-order"
                    role="tab" aria-controls="v-pills-home" aria-selected="true">Đơn hàng</a>
                <a class="nav-link" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab"
                    aria-controls="v-pills-account" aria-selected="false">Tài khoản</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-order" role="tabpanel"
                    aria-labelledby="v-pills-order-tab" style="overflow-x: auto;">
                    <table class="table table-bordered">
                        <thead class="table-active">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ngày đặt</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>03/04/2022</td>
                                <td>Otto</td>
                                <td>123456 <span style="float: right;">VND</span></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>03/04/2022</td>
                                <td>Thornton</td>
                                <td>123456 <span style="float: right;">VND</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade tab-address" id="v-pills-account" role="tabpanel"
                    aria-labelledby="v-pills-account-tab">
                    {{#with user}}
                        <form action="/user/edit/{{_id}}?_method=PUT" method="POST">
                            <h5>Tên khách hàng</h5>
                            <input type="text" name="fullName" value="{{fullName}}" required>
                            <h5>Địa chỉ</h5>
                            <input type="text" name="address" value="{{address}}" required>
                            <h5>Mật khẩu cũ</h5>
                            <input type="password" name="password" required>
                            <h5>Mật khẩu mới</h5>
                            <input type="password" name="newPassword" required>
                            <h5>Nhập lại mật khẩu mới</h5>
                            <input type="password" name="confirmNewPassword" required>
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </form>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</section>