<div class="login">
    <div class="login-page">
        <div class="login-logo">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="Tên đăng nhập" />
                <input type="password" placeholder="Mật khẩu" />
                <input type="text" placeholder="Nhập lại mật khẩu" />
                <button>Đăng ký</button>
                <p class="message">Đã có tài khoản <a href="#">Đăng nhập</a></p>
            </form>
            <form class="login-form">
                <input type="text" placeholder="Tên đăng nhập" />
                <input type="password" placeholder="Mật khẩu" />
                <button>Đăng nhập</button>
                <p class="message">Chưa có tài khoản <a href="#">Tạo tài khoản</a></p>
            </form>
        </div>
    </div>
</div>