<div class="login">
    <div class="login-page">
        <div class="login-logo">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="form">
            <form action="#" method="POST" class="register-form">
                <input type="text" placeholder="Họ và tên" name="fullName" required>
                <input type="text" placeholder="Địa chỉ email" name="email" required>
                <input type="text" placeholder="Tên đăng nhập" name="username" required>
                <input type="password" placeholder="Mật khẩu" name="password" required>
                <input type="password" placeholder="Nhập lại mật khẩu" required>
                <button id="register-btn" type="button">Đăng ký</button>
                <p class="message">Đã có tài khoản <a href="#">Đăng nhập</a></p>
            </form>
            <form action="/login" method="POST" class="login-form">
                <input type="text" placeholder="Tên đăng nhập" name="username" required>
                <input type="password" placeholder="Mật khẩu" name="password" required>
                <button id="login-btn" type="submit">Đăng nhập</button>
                <p class="message">Chưa có tài khoản <a href="#">Tạo tài khoản</a></p>
            </form>
        </div>
    </div>
</div>

<script src="/js/customer/login.js"></script>