<!-- PAYMENTPAGE -->
<section class="paymentPage section">
    <div class="container">
        <div class="cart-top-wrap">
            <div class="cart-top">
                <div class="cart-top-cart cart-top-item">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="cart-top-adress cart-top-item">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="cart-top-payment cart-top-item">
                    <i class="fas fa-money-check-alt"></i>
                </div>
            </div>
        </div>
        <div class="paymentPage__content">
            <div class="paymentPage__delivery">
                <p>Phương thức giao hàng</p>
                <div class="paymentPage__delivery-item">
                    <input type="radio">
                    <label for="">Giao hàng chuyển phát nhanh</label>
                </div>
            </div>
            <div class="paymentPage__payment">
                <p>Phương thức thanh toán</p>
                <div class="paymentPage__payment-item">
                    <input type="radio">
                    <label for="">Thanh toán bằng tiền mặt</label>
                </div>
                <div class="paymentPage__payment-item">
                    <input type="radio">
                    <label for="">Thanh toán bằng ví MOMO</label>
                </div>
                <div class="paymentPage__payment-item">
                    <input type="radio">
                    <label for="">Thanh toán bằng thẻ VISA, MASTERCARD</label>
                </div>
                <div class="paymentPage__button">
                    <a href="">
                        <span>&#8810;</span> Quay lại trang trước
                    </a>
                    <button>HOÀN TẤT ĐẶT HÀNG</button>
                </div>
            </div>
        </div>
    </div>
</section>