<!-- ADMIN -->
<section class="admin section">
    <div class="container-fluid row">
        <div class="admin__left col-xl-2">
            <button id="close-btn">
                <span class="material-icons-sharp">
                    close
                </span>
            </button>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" href="/admin" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">
                    <span class="material-icons-sharp">
                        home
                    </span>
                    Trang chủ
                </a>
                <a class="nav-link" id="v-pills-danhmuc-tab" href="/admin/category" role="tab"
                    aria-controls="v-pills-danhmuc" aria-selected="true">
                    <span class="material-icons-sharp">
                        dashboard_customize
                    </span>
                    Danh mục sản phẩm
                </a>
                <a class="nav-link" id="v-pills-sanpham-tab" href="/admin/product" role="tab"
                    aria-controls="v-pills-sanpham" aria-selected="false">
                    <span class="material-icons-sharp">
                        category
                    </span>
                    Sản phẩm
                </a>
                <a class="nav-link" id="v-pills-donhang-tab" href="/admin/order" role="tab"
                    aria-controls="v-pills-donhang" aria-selected="false">
                    <span class="material-icons-sharp">
                        add_shopping_cart
                    </span>
                    Đơn hàng
                </a>
                <a class="nav-link" id="v-pills-doanhthu-tab" href="/admin/revenue" role="tab"
                    aria-controls="v-pills-doanhthu" aria-selected="false">
                    <span class="material-icons-sharp">
                        analytics
                    </span>
                    Doanh thu
                </a>

                <a class="nav-link" id="v-pills-customer-tab" href="/admin/customer/1" role="tab"
                    aria-controls="v-pills-customer" aria-selected="false">
                    <span class="material-icons-sharp">
                        perm_contact_calendar
                    </span>
                    Danh sách khách hàng
                </a>
                <a class="nav-link" id="v-pills-admin-tab" href="/admin/admin" role="tab"
                    aria-controls="v-pills-admin" aria-selected="false">
                    <span class="material-icons-sharp">
                        admin_panel_settings
                    </span>
                    Danh sách admin
                </a>
                <a class="nav-link" id="v-pills-bug-tab" href="/admin/feedback" role="tab"
                    aria-controls="v-pills-bug" aria-selected="false">
                    <span class="material-icons-sharp">
                        help_center
                    </span>
                    Phản hồi
                </a>
            </div>
        </div>
        <div class="admin__right col-12 col-xl-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="row admin__home-content">
                        <div class="col-6 col-lg-3 pb-5">
                            <div class="admin__home-item">
                                <h3>Tổng khách hàng</h3>
                                <p class="num">123456</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="admin__home-item">
                                <h3>Doanh thu</h3>
                                <p><span class="num">123456 </span><sup>đ</sup></p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="admin__home-item">
                                <h3>Vốn</h3>
                                <p><span class="num">123456 </span><sup>đ</sup></p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="admin__home-item">
                                <h3>Thuế</h3>
                                <p><span class="num">123456 </span><sup>đ</sup></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="chart-container">
                                <canvas id="myChart" class="col-12">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- GG CHART -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
    integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- CHART -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    const chart = document.querySelector("#myChart").getContext('2d');
    // creat new chart
    new Chart(chart, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', ' Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Doanh thu',
                data: [50, 100, 200, 70, 80, 150, 60, 40, 20, 10],
                borderColor: 'blue',
                borderWidth: 2
            }]
        },
    })
</script>