.category {
    background-color: $color-3;
    .category__left {
        h4 {
            i {
                padding-right: 10px;
            }
            font-size: 20px;
            color: $color-4;
            font-weight: 700;
            padding-bottom: 20px;
            border-bottom: 1px solid $color-2;
        }
        .nav {
            .nav-link {
                font-size: $fs-1;
                color: $color-4;
                &:hover {
                    color: $color-5;
                }
                &.active{
                    color: $color-0;
                }
            }
        }
    }
    .category__right {
        .category__right-top {
            p {
                display: inline;
                font-size: $fs-4;
                color: $color-4;
                padding-right: 20px;
            }
            padding-bottom: 18px;
            border-bottom: 1px solid $color-2;
        }
        .category__right-content {
            .card-item {
                padding: 4px 8px;
                .card {
                    .card-body {
                        padding: 5px;
                        .card-title {
                            font-size: $fs-4;
                        }
                        .card-text {
                            font-size: $fs-1;
                        }
                        .card-price {
                            font-size: $fs-4;
                        }
                    }
                }
            }
        }
        .category__right-bottom {
            text-align: center;
            margin-top: 20px;
            p {
                font-size: 20px;
                color: $color-4;
            }
        }
    }
}
