.infor{
    
    .nav{
        .nav-link{
            color: $color-0;
            background-color: $color-10;
            margin-bottom: 10px;
            transition: all .5s;
            font-size: $fs-5;
            &:hover{
                color: $color-5;
            }
        }
        .active{
            background-color: $color-5;
            &:hover{
                color: $color-10;
            }
        }
    }

    .tab-content{
        .tab-address{
            h5{
                color: $color-4;
            }
            input{
                display: block;
                color: $color-4;
                font-size: $fs-0;
                width: 70%;
                margin: 10px 0 ;
                padding: 5px 10px;
            }
        }
    }
}