header {
    background-color: $color-5;
    .myNavbar {
        padding: 15px 16px;
        .myNavbar__left {
            display: flex;
            align-items: center;
            .navbar-brand {
                flex-grow: 1;
                text-align: center;
                margin-right: 20px;
                img {
                    width: 210px;
                    display: inline-block;
                }
            }
            .myNavbar__form-search {
                flex-grow: 10;
                @include styleFormSearch($color-1, $color-0, $color-2, $color-8);
            }
        }
        .myNavbar__right {
            .navbar-nav {
                justify-content: space-around;
                align-items: center;
                .myNavBar__cart {
                    width: 50px;
                    height: 50px;
                    line-height: 35px;
                    border-radius: 50%;
                    text-align: center;
                    .nav-link {
                        color: $color-0;
                        font-size: $fs-4;
                    }
                    &:hover {
                        background-color: $color-9;
                    }
                }
                .myNavBar__buttons {
                    .button {
                        color: $color-5;
                        background-color: $color-0;
                        font-size: $fs-1;
                        font-weight: $fw-2;
                        height: 40px;
                        width: 120px;
                        line-height: 40px;
                        border-radius: 10px;
                        border: none;
                        transition: all 0.5s;
                        text-transform: uppercase;
                        i {
                            padding-right: 10px;
                        }
                        &:hover {
                            background-color: $color-7;
                            color: $color-0;
                        }
                    }
                }
                .myNavbar__user {
                    .myNavbar__user-content {
                        .dropdown-toggle {
                            text-decoration: none;
                            border-radius: 20px;
                            padding: 10px 20px;
                            background-color: $color-0;
                            color: $color-5;
                        }
                        .dropdown-menu{
                            top: 135%;
                            a{
                                color: $color-5;
                            }
                        }
                    }
                }
            }
        }
    }
}
