.menu{
    background-color: $color-10;
    .nav{
        .nav-item{
            .nav-link{  
                @include textStyle($fs-0, $fw-1,$color-0,40px);
                padding-left: 20px;
                padding-right: 20px;
                transition: all .5s;
                i{
                    padding-right: 10px;
                }
            }
            .dropdown-menu{
                padding: 0;
                .dropdown-item{
                    @include textStyle($fs-0, null,null,null);
                    border: 1px solid $color-1;
                    padding: 0.8rem 1.5rem;
                    i{
                        padding-right: 20px;
                        color: $color-2;
                    }
                }

            }
            &:hover{
                .nav-link{
                    color: $color-5;
                }
            }
        }
    }
}