<!-- DELIVERY -->
<section class="delivery section">
    <div class="container">
        <div class="row">
            <div class="col-4 delivery__content">
                <div class="delivery__item">
                    <i class="fa fa-reply"></i>
                    <p>Miễn phí trả hàng trong 7 ngày</p>
                </div>
            </div>
            <div class="col-4 delivery__content">
                <div class="delivery__item">
                    <i class="fa fa-shipping-fast"></i>
                    <p>Hoàn tiền gấp đôi nếu phát hiện hàng giả</p>
                </div>
            </div>
            <div class="col-4 delivery__content">
                <div class="delivery__item">
                    <i class="fa fa-shield-alt"></i>
                    <p>Giao hàng miễn phí toàn quốc</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PAYMENT -->
<section class="payment">
    <div class="container section">
        <h3>Phương thức thanh toán</h3>
        <div class="row">
            <div class="col-3 payment__item">
                <img src="/img/pm-1.png" alt="">
            </div>
            <div class="col-3 payment__item">
                <img src="/img/pm-2.png" alt="">
            </div>
            <div class="col-3 payment__item">
                <img src="/img/pm-3.png" alt="">
            </div>
            <div class="col-3 payment__item">
                <img src="/img/pm-4.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="section">
    <div class="container">
        <div class="row footer__content">
            <div class="col-4 footer__item">
                <h4>GIỚI THIỆU</h4>
                <ul>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="col-4 footer__item">
                <h4>TRỢ GIÚP</h4>
                <ul>
                    <li>
                        <a href="#">Hướng dẫn mua hàng</a>
                    </li>
                    <li>
                        <a href="#">Chính sách đổi trả hàng</a>
                    </li>
                    <li>
                        <a href="#">Chính sách vận chuyển</a>
                    </li>
                    <li>
                        <a href="#">Điều khoản sử dụng</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 footer__item">
                <h4>ĐƯỢC CHỨNG NHẬN</h4>
                <p><span>CÔNG TY TNHH BOARDGAME VIỆT NAM</span></p>
                <p>
                    Giấy chứng nhận Đăng ký Kinh doanh số 0107001119
                    do Sở Kế hoạch và Đầu tư TP Hà Nội cấp ngày 21/09/2015
                </p>
                <img src="/img/i_congthuong.png" alt="">
            </div>
        </div>
    </div>
</footer>