<!-- HEADER -->
<header>
    <div class="container-fluid">
        <nav class="myNavbar navbar navbar-expand-lg">
            <a href="/" class="navbar-brand">
                <img src="/img/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse px-lg-5 pt-5 pt-lg-0" id="navbarSupportedContent">
                <form id="widgets-searchbox" action="/product">
                    <input class="input-field" type="text" name="keyword" placeholder="Search" />
                    <button class="widgets-searchbox-btn" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#v-pills-bgfamily-tab">DANH MỤC SẢN PHẨM</a>
                    </li>
                    <li class="nav-item myNavBar__cart" hidden>
                        <a class="nav-link p-0" href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li class="nav-item myNavBar__user" hidden>
                        <a class="nav-link text-white" href="/user"><i class="fa fa-user mr-2"></i></a>
                    </li>
                    <li class="nav-item myNavBar__logout" hidden>
                        <a class="nav-link text-white" href="/logout"><i class="fa fa-sign-out"></i></a>
                    </li>
                    <li class="nav-item myNavBar__buttons" hidden>
                        <a href="/login">
                            <button class="button"><i class="fa fa-user"></i>Đăng nhập</button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- Menu -->
{{!-- <section class="menu">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#v-pills-bgfamily-tab"><i
                        class="fa fa-list"></i>DANH MỤC SẢN PHẨM</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#v-pills-bgfamily-tab"><i class="fa fa-angle-right"></i>Board game
                        gia đình</a>
                    <a class="dropdown-item" href="#v-pills-bgchild-tab"><i class="fa fa-angle-right"></i>Board game trẻ
                        em</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-angle-right"></i>Board game Việt Nam</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-angle-right"></i>Board game Nhập Mỹ</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#v-pills-bgfamily-tab"><i class="fa fa-list"></i> DANH MỤC SẢN PHẨM</a>
            </li>
        </ul>
    </div>
    
<script src="js/customer/search.js"></script>
</section> --}}
