<!-- HEADER -->
<header>
    <div class="container-fluid">
        <nav class="myNavbar navbar navbar-expand-xl">
            <div class="myNavbar__left col-8">
                <a href="/" class="navbar-brand">
                    <img src="/img/logo.png" alt="">
                </a>
                <form class="myNavbar__form-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Thông tin Boardgame bạn muốn">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="myNavbar__right col-4">
                <ul class="navbar-nav mlAQz-auto">
                    <li class="nav-item myNavBar__cart">
                        <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li class="nav-item myNavBar__user" hidden>
                        <a class="nav-link text-white" href="/user"><i class="fa fa-user mr-2"></i></a>
                    </li>
                    <li class="nav-item myNavBar__logout" hidden>
                        <a class="nav-link text-white" href="/logout"><i class="fa fa-sign-out"></i></a>
                    </li>
                    <li class="nav-item myNavBar__buttons" hidden>
                        <a href="/login">
                            <button class="button"><i class="fa fa-user"></i>Đăng nhập</button>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- Menu -->
<section class="menu">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/category" role="button"><i
                        class="fa fa-list"></i>DANH MỤC SẢN PHẨM</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="fa fa-angle-right"></i>Flash Sale US 2022</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-angle-right"></i>Game hot giá sốc</a>
                    <a class="dropdown-item" href="#v-pills-bgfamily-tab"><i class="fa fa-angle-right"></i>Board
                        game gia đình</a>
                    <a class="dropdown-item" href="#v-pills-bgchild-tab"><i class="fa fa-angle-right"></i>Board game
                        trẻ em</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-angle-right"></i>Board game Việt Nam</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-angle-right"></i>Board game Nhập Mỹ</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-angle-right"></i>BG Giải trí/Nhóm</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-angle-right"></i>Phụ kiện Board Game</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Game US có sẵn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Board Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Các loại cờ</a>
            </li>
        </ul>
    </div>
</section>