<!-- HEADER -->
<header>
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 d-flex align-item-center">
                    <img src="/img/logo.png" alt="" class="logo">
                </div>
                <div class="col-2 col-md-4 col-xl-6">
                    <div class="search-bar">
                        <span class="material-icons-sharp">
                            search
                        </span>
                        <input type="search" placeholder="Tìm kiếm...">
                    </div>
                </div>
                <div class="col-8 col-md-6 col-xl-4">
                    <div class="profile-area">
                        <div class="theme-btn">
                            <span class="material-icons-sharp active">
                                light_mode
                            </span>
                            <span class="material-icons-sharp">
                                dark_mode
                            </span>
                        </div>
                        <div class="profile">
                            <div class="profile-photo">
                                <img src="/img/avatar_19127049.JPG" alt="">
                            </div>
                            <h4>Hương Ngàn</h4>
                        </div>
                        <a href="/admin/logout">
                            <button>
                                    <span class="material-icons-sharp">
                                        logout
                                    </span>
                            </button>
                        </a>
                        <button id="menu-btn">
                            <span class="material-icons-sharp">
                                menu
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>